export(TestApp, Error, Renew, Validate, UploadFile, RenameFile, MoveFile, DeleteFile, SupportFile, ListDir, MakeDir, DeleteDir, ListApps, GetAppInfo, SubmitJob, CheckJobStatus, DeleteJob, RetrieveJob, ListJobOutput, GetJobHistory, ResolveNames, GetPhylotasticToken, RetrieveTNRSNames, CompareNames, GetCitations, RunMuscle, RunParsdna, RunParsprotein, RunRAxMLdna, RunRAxMLprotein, RunQuicktree, RunMafft, RunClustalW, RunPLINK, PLINKConversion, RunFaST_LMM, find.input, RunFasttree)
import(seqinr,RCurl,rjson)
