export(TestApp, Error, Renew, Validate, UploadFile, ShareFile, RenameFile, MoveFile, DeleteFile, SupportFile, ListDir, ShareDir, RenameDir, MoveDir, MakeDir, DeleteDir, ListApps, GetAppInfo, SubmitJob, CheckJobStatus, DeleteJob, RetrieveJob, ListJobOutput, GetJobHistory, ResolveNames, GetPhylotasticToken, RetrieveTNRSNames, CompareNames, Muscle, RAxML, Mafft, ClustalW, PHYLIP_Pars, PLINK, PLINKConversion, FaST_LMM, find.input, Fasttree, Wait, Time)
import(seqinr, RCurl, rjson)
